body {
    color: #212121;
}
.header {
    font-family: Signatura-Monoline;
    display: flex;
    flex-flow: row nowrap;
}
@font-face {
    font-family: Signatura-Monoline;
    src: url('fonts/Signatura-Monoline.ttf'); 
}
.logo {
    font-size: 70px;
    padding-right: 6px;
}
.github-icon {
    width: 44px;
}